## Pandas的axis参数怎么理解？

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A', 'B', 'C', 'D']
)

In [3]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

### 1、单列drop，就是删除某一列

In [4]:
# 代表的就是删除某列,如果只是drop，fill都是按照行列去理解，如果碰到sum,min这个时候的
#理解就是按行方向或者按列方向
df.drop("A", axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

### 2、单行drop，就是删除某一行

In [5]:
df #之所以没变化是因为在删除的时候没有设置inplace=True

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [6]:
# 代表的就是删除某行
df.drop(1, axis=0)#这个时候的1代表的是index，因为axis=0

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

### 3、按axis=0/index执行mean聚合操作

输出的不是每行的结果，而是每列的结果

In [7]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [8]:
# axis=0 or axis=index
df.mean(axis=0)#按照行的方向去计算，或者按照列的方向去计算

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

### 4、按axis=1/columns执行mean聚合操作

输出的不是每行的结果，而是每列的结果

In [9]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [10]:
# axis=1 or axis=columns
df.mean(axis=1) #按照列的方向去计算！

0    1.5
1    5.5
2    9.5
dtype: float64

### 5、再次举例，加深理解

In [11]:
def get_sum_value(x):
    return x["A"] + x["B"] + x["C"] + x["D"]

df["sum_value"] = df.apply(get_sum_value, axis=1)

In [12]:
df

   A  B   C   D  sum_value
0  0  1   2   3          6
1  4  5   6   7         22
2  8  9  10  11         38