In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.arange(9).reshape(3,3),columns=list("abc"))
df

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

In [7]:
df.stack()  # stack将列索引变为行的二级索引，同时增加了索引层次，返回了一个Series对象
            # 每一行的数据变成了列，并对应原来的列索引

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
2  a    6
   b    7
   c    8
dtype: int64

In [8]:
df.unstack()    # unstack将列索引变为了行的一级索引，同时增加了索引层次，返回了一个Series对象
                # 每一列的数据仍然是列，并对应原来的行索引

a  0    0
   1    3
   2    6
b  0    1
   1    4
   2    7
c  0    2
   1    5
   2    8
dtype: int64