In [3]:
import pandas as pd
import re

In [4]:
df = pd.read_csv("Data/survey_results_public.csv",index_col='Respondent')
schema_df = pd.read_csv("Data/survey_results_schema.csv",index_col='Column')
df.shape , schema_df.shape

((88883, 84), (85, 1))

In [5]:
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

In [6]:
grp = df.groupby('Country')

In [7]:
grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [8]:
country_respondents = df["Country"].value_counts()
country_respondents

United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: Country, Length: 179, dtype: int64

In [9]:
country_uses_python = grp['LanguageWorkedWith'].apply(lambda x : x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [10]:
python_df = pd.concat([country_respondents,country_uses_python],axis=1,sort=False)
python_df

                   Country  LanguageWorkedWith
United States        20949               10083
India                 9061                3105
Germany               5866                2451
United Kingdom        5737                2384
Canada                3395                1558
...                    ...                 ...
Tonga                    1                   0
Timor-Leste              1                   1
North Korea              1                   0
Brunei Darussalam        1                   0
Chad                     1                   0

[179 rows x 2 columns]

In [11]:
python_df.rename(columns={'Country':'NumberRespondents','LanguageWorkedWith':'NumberKnowsPython'},inplace=True)
python_df

                   NumberRespondents  NumberKnowsPython
United States                  20949              10083
India                           9061               3105
Germany                         5866               2451
United Kingdom                  5737               2384
Canada                          3395               1558
...                              ...                ...
Tonga                              1                  0
Timor-Leste                        1                  1
North Korea                        1                  0
Brunei Darussalam                  1                  0
Chad                               1                  0

[179 rows x 2 columns]

In [12]:
python_df['PctKnowsPython'] = (python_df['NumberKnowsPython']/python_df['NumberRespondents']) * 100
python_df

                   NumberRespondents  NumberKnowsPython  PctKnowsPython
United States                  20949              10083       48.131176
India                           9061               3105       34.267741
Germany                         5866               2451       41.783157
United Kingdom                  5737               2384       41.554820
Canada                          3395               1558       45.891016
...                              ...                ...             ...
Tonga                              1                  0        0.000000
Timor-Leste                        1                  1      100.000000
North Korea                        1                  0        0.000000
Brunei Darussalam                  1                  0        0.000000
Chad                               1                  0        0.000000

[179 rows x 3 columns]

In [13]:
python_df.sort_values(by='PctKnowsPython',ascending=False,inplace=True)

In [14]:
python_df

,NumberRespondents,NumberKnowsPython,PctKnowsPython
Sao Tome and Principe,1,1,100.000000
Timor-Leste,1,1,100.000000
Dominica,1,1,100.000000
Niger,1,1,100.000000
Turkmenistan,7,6,85.714286
...,...,...,...
Cape Verde,3,0,0.000000
Lao People's Democratic Republic,3,0,0.000000
Malawi,2,0,0.000000
Liberia,2,0,0.000000
Chad,1,0,0.000000

In [15]:
python_df.loc['Japan']

NumberRespondents    391.000000
NumberKnowsPython    182.000000
PctKnowsPython        46.547315
Name: Japan, dtype: float64