In [1]:
people = {
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe","Doe"],
    "email":["CoreyMSchafer@gamil.com","JaneDoe@email.com","JohnDoe@email.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gamil.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [7]:
df['full_name'] = df['first'] + ' ' + df['last']

df.drop()