In [8]:
people = {
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe","Doe"],
    "email":["CoreyMSchafer@gamil.com","JaneDoe@email.com","JohnDoe@email.com"]
}

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gamil.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [18]:
df.applymap(str.lower)

   first  last  email
0      5     7     23
1      4     3     17
2      4     3     17