In [6]:
import pandas as pd
from time import time 
import datetime

In [21]:

data = {
        '姓名':['小明','小红'],
        '日期':[1562654278,1592270412]}
df = pd.DataFrame(data,index=['one','two'],
               columns=['姓名','日期'])

In [22]:
df

     姓名          日期
one  小明  1562654278
two  小红  1592270412

In [23]:
df.loc[:,'日期'] = df['日期']\
.apply(lambda x : datetime.datetime.fromtimestamp(x).strftime("%Y-%m-%d %M:%S:%f"))

In [24]:
df.head()

     姓名                       日期
one  小明  2019-07-09 37:58:000000
two  小红  2020-06-16 20:12:000000